
.location-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -10px;
}

.nav-link {
    margin: 0;
    opacity: 0.7;
    transition: color 0.3s ease, opacity 0.3s ease;
    letter-spacing: 1px;
}

.links {
    position: absolute;
    bottom: 10vh;
}

.link {
    bottom: 0;
    margin-right: 15px;
    margin-left: -5px;
}

.link, .link:visited {
    color: #3b3f40;
}

.link:hover, .link:active {
    color: #13d284;
}



/* Navigation section */
.nav-section {
    display: flex;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
}

.nav-section:hover nav-link strong {
    opacity: 1.0;
}

.nav-section:hover span {
    width: 64px; /* Expand the line on hover */
    opacity: 1.0; /* Make the line fully visible */
}

/* Indicator span */
.nav-section span {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition: width 0.3s ease, opacity 0.3s ease; /* Smooth transition for width and opacity */
    height: 2px; /* Adjust height if needed */
    width: 32px; /* Default width of the line */
    background-color: #3b3f40; /* Color of the line */
    opacity: 0.7; /* Initial opacity of the line */
    margin-right: 20px; /* Spacing between the line and the text */
}

/* Active state for nav section */
.nav-section span.active {
    width: 64px; /* Expanded width for the active section */
    opacity: 1.0; /* Fully visible line */
}

.nav-section h5.active {
    color: #3b3f40; /* Highlight active text in white */
    opacity: 1.0; /* Ensure text is fully visible */
}
