/* TOP LEVEL CONTAINER */
.job-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
}

/* Extra large devices (default) */
.job-container {
    display: flex;
    justify-content: flex-start;

    margin-bottom: 5vh;

    border: none;
    text-align: left;

    cursor: pointer;

    width: 50%;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .job-container {
        display: flex;
        justify-content: flex-start;

        margin-bottom: 5vh;

        text-align: left;

        cursor: pointer;

        width: 100%;
        margin: 0 auto;
    }

    .shadow {
        box-shadow: none !important;
    }   

    .global-section {
        padding-left: 5vw !important;
        padding-right: 5vw !important;
    }

    .job-title {
        font-size: 10vw;
        text-align: center;
    }

    .job-skills {
        margin: 0 auto;
    }
}

.job-container:hover .icon-white, .job-container:active .icon-white{
    color: #189dc4;
}

.job-container:hover .job-name, .job-container:active .job-name{
    color: #189dc4;
}

/* TITLES */

.job-year {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    overflow: visible;
}

.job-name {
    transition: color 0.15s ease-in-out;
}

/* JOB LISTS AND ITEMS*/

.job-list {
    padding-right: 10%;
    overflow-wrap: break-word;
}

/* METRICS */

.job-metrics {
    padding: 0;
}

/* DROPDOWN JOB DESCRIPTION */
.job-description-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease;
}

/* ARROW ICON */

.icon-white {
    padding-bottom: 10px;
    margin-top: 10px;
    height: 20px;

    transition: color 0.15s ease-in-out;
}

/* SKILLS ARRAY AND BUBBLES */

.job-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

.skill {
    padding-right: 20px;
    padding-left: 20px;
    transition: all 0.2s ease-in-out;
}

.hard-skill {
    background-color: #0d272c;
    color: #189dc4;
}

.hard-skill:hover {
    background-color: #17464f;
    color: #dfdfdf;
}

.soft-skill {
    background-color: #043624;
    color: #13d284;
}

.soft-skill:hover {
    background-color: #26805f;
    color: #dfdfdf;
}

/* LINKEDIN */
.action-icon, .action-name {
    transition: transform 0.1s ease-in-out;
}

.flex-row-standard:hover .action-icon {
    transform: translate3D(5px, -5px, 0);
}

.flex-row-standard:hover .action-name {
    color: #0eafdb;
}

@media (max-width: 900px) {
    .flex-row-standard {
        justify-content: center;
        text-align: center;
    }

    .linkedin {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;

        background-color: #0eafdb;
        
        border-radius: 50px;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);

        transition: background-color 0.15s ease-in-out;
    }

    .linkedin h3, .linkedin svg {
        color: #eeff00;
    }

    .linkedin:hover{
        background-color: #14c4f5;
    }

    .action-name-linkedin {
        color: #eeff00 !important;
    }
}