/* TOP LEVEL CONTAINER */
.job-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.job-container {
    position: relative;
    display: flex;
    justify-content: flex-start;

    border: none;
    text-align: left;
    
    padding-left: 40px;

    cursor: pointer;
}

.job-container:hover .icon-white, .job-container:active .icon-white{
    color: #189dc4;
}

.job-container:hover .job-name, .job-container:active .job-name{
    color: #189dc4;
}

/* TITLES */

.job-year {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    overflow: visible;
}

.job-name {
    transition: color 0.15s ease-in-out;
}

/* JOB LISTS AND ITEMS*/

.job-list {
    margin: 0;
    padding-right: 10%;
    overflow-wrap: break-word;
}

/* METRICS */

.job-metrics {
    padding: 0;
}

/* DROPDOWN JOB DESCRIPTION */
.job-description-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease;
}

/* ARROW ICON */

.icon-white {
    padding-bottom: 10px;
    margin-top: 10px;
    height: 20px;

    transition: color 0.15s ease-in-out;
}

/* SKILLS ARRAY AND BUBBLES */

.job-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 15px;
}

.skill {
    padding-right: 20px;
    padding-left: 20px;
    transition: all 0.2s ease-in-out;
}

.hard-skill {
    background-color: #0d272c;
    color: #189dc4;
}

.hard-skill:hover {
    background-color: #17464f;
    color: #dfdfdf;
}

.soft-skill {
    background-color: #043624;
    color: #13d284;
}

.soft-skill:hover {
    background-color: #26805f;
    color: #dfdfdf;
}

/* LINKEDIN */
.action-icon, .action-name {
    transition: transform 0.1s ease-in-out;
}

.flex-row-standard:hover .action-icon {
    transform: translate3D(5px, -5px, 0);
}

.flex-row-standard:hover .action-name {
    color: #0eafdb;
}