.job-flex {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
    margin-bottom: 5rem;
    background-color: transparent;
}

.job-container {
    position: relative;
    width: 100%;
    max-width: 200%;
    margin-top: 4rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;

    background-color: transparent;
    color: inherit;
    border: none;
    font: inherit;
    outline: inherit;
    text-align: left;
    
    cursor: pointer;
}

.job-container::before {
    position: absolute;
    z-index: -1;
    content: '';
    min-width: calc(100% + 30px);
    min-height: calc(100% + 40px);
    top: -25px;
    left: -15px;
    background-color: transparent;
    

    border-radius: 12px;
    box-shadow: none;
    border-top: none;

    
    transition: background-color 0.01s ease, box-shadow 0.2s , border-top;
}

.job-description-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease;
}

.job-container:hover::before {
    background-color: rgba(177, 177, 177, 0.089);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
    border-top: 1px solid rgba(109, 109, 109, 0.685);

}

.job-container::before:visited {
    color: transparent;
}

.job-list {
    margin: 0;
    padding-right: 10%;
    list-style-type: none;
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.job-list h5 {
    margin: 0;
    color: white;
}

.job-container:hover .job-list h5 {
    color: #13d284;
}

.job-year {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    overflow: visible;
}

.job-year > p {
    margin: 0 !important;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.7;
    
    overflow: visible;
}

.job-metrics {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.metric-flex {
    display: flex;
    flex-direction: row;
    justify-items: start;
    margin: 0;
    padding: 0;
}

.job-metric-title {
    font-size: 14px;
    color: white;
    padding-right: 10px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 15px;
    opacity: 0.9;
}

.job-metric-description {
    font-size: 14px;
    color: white;
    font-weight: 300;
    opacity: 0.8;
    text-transform: none !important;
}

.job-description {
    opacity: 0.8;
    font-size: 15px;
}

.icon-white {
    color: white;
    opacity: 0.7;
    padding-bottom: 10px;
    margin-top: 10px;
    height: 20px;
    transition: transform 0.1s ease-in-out;
}

.job-container:hover .icon-white {
    transform: translateY(10px);
    color: #13d284;
}

.job-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 15px;
}

.job-skills p {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0;
    margin-right: 3px;
    margin-top: 0px;
    margin-bottom: 10px;
    gap: 10px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 2rem;
}

.hard-skill {
    background-color: #0d272c;
    color: #0eafdb;
}

.soft-skill {
    background-color: #043624;
    color: #13d284;
}
